@page
@model AntiForgeryRazorPagesExamples.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    Click on the links above to view some example about how Anti-Forgery Tokens and validation
    behave in ASP.NET Core Razor Pages.
</p>